---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div
    class="mx-auto flex w-full max-w-app flex-col items-center gap-6 px-4 py-6 text-center sm:flex-row-reverse sm:justify-center sm:gap-[32rem] sm:py-4"
  >
    <Socials align="center" />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:my-0 sm:flex-row sm:items-center">
      <span>Copyright &#169; {currentYear}</span>
    </div>
  </div>
</footer>
